!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Watchdog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'watchdog/application', media: 'all'
    = javascript_include_tag 'watchdog/application'
  %body
    = render 'watchdog/flash'
    %main
      = yield
