.widget{id: css_id(widget), class: css_classes(widget)}
  .header
    %h2.govuk-heading-m= widget.title
    %p.govuk-body= widget.subtitle
    - if widget.logo.present?
      .logo
        = image_tag widget.logo
    %span.govuk-body.last-refresh
      Last updated:
      = Time.now.strftime("%l:%M%p")
  .content
    - if widget.valid?
      = send "#{widget.type}_chart".to_sym, widget.data_url, **render_attributes(widget)
    - else
      - widget.errors.full_messages.each do |msg|
        %p.error.govuk-body!= msg
